In [62]:
import pandas as pd 
import re
from RadarGen import *
from Search import *
from io import StringIO

string = 'prototype.txt'

data = pd.read_csv(string)
data.head()

,Frame,Time,Xpos,Ypos,Zpos,DetectedPawns,List_of_vehicles
0,0,J0:12:59:00:412,3402.0,-76290.0,-53546.0,0,[]
1,219,J0:13:00:17:637,33402.0,76290.0,-53546.0,1,Hatchback_Car_AI_C_2 ; 0 ;39383.984 ;-65637....
2,667,J0:13:03:07:807,33402.0,-76290.0,-53546.0,2,Hatchback_Car_AI_C_6 ;0 ;39274.148 ;-72546.023...

In [68]:

StringData = StringIO(data.iat[2,6]) 
step = 'Vehicul.txt'
col = ['ID', 'Class', 'Xpos', 'Ypos','Zpos','X2D','Y2D','v','xdir','ydir','zdir','Xbox','Ybox','Zbox','Xext',\
       'Yext','Zext','XYZ@X','XYZ@Y','XYZ@Z','XY-Z@X','XY-Z@Y','XY-Z@Z','X-YZ@X','X-YZ@Y','X-YZ@Z','X-Y-Z@X','X-Y-Z@Y','X-Y-Z@Z',\
      '-XYZ@X','-XYZ@Y','-XYZ@Z','-XY-Z@X','-XY-Z@Y','-XY-Z@Z','-X-YZ@X','-X-YZ@Y','-X-YZ@Z','-X-Y-Z@X','-X-Y-Z@Y','-X-Y-Z@Z',\
      'X2DC', 'Y2DC','XY-Z2@X','XY-Z2@Y','X-YZ2@X','X-YZ2@Y','X-Y-Z2@X','X-Y-Z2@Y','-XYZ2@X','-XYZ2@Y','-XY-Z2@X','-XY-Z2@Y','-X-YZ2@X','-X-YZ2@Y','XYZ2@X','-X-Y-Z2@Y']
rep = pd.read_csv(StringData,sep=';',names =col ,index_col=False, lineterminator = '\\') 
rep.head()

,ID,Class,Xpos,Ypos,Zpos,X2D,Y2D,v,xdir,ydir,...,X-Y-Z2@X,X-Y-Z2@Y,-XYZ2@X,-XYZ2@Y,-XY-Z2@X,-XY-Z2@Y,-X-YZ2@X,-X-YZ2@Y,XYZ2@X,-X-Y-Z2@Y
0,Hatchback_Car_AI_C_6,0,39274.148,-72546.023,-54427.500,1572,684,674.591797,0.113,-0.988,...,1533,655,1533,679,1605,663,1605,689,1574,663
1,Hatchback_Car_AI_C_11,0,38999.570,-69652.461,-53810.488,-1,-1,712.078308,0.051,-0.968,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1